In [1]:
import pandas as pd
import requests
import calendar
import datetime
from datetime import datetime
import numpy as np
from credentials import weather_api_key

train_df = pd.read_csv('rail_data_eda.csv')
train_df.head()

,route_id,unique_id,service_start_date,update_origin,train_platform,working_time_arrival,working_time_departure,planned_time_arrival,planned_time_departure,actual_arrival_time,...,planned_arrival_hour,planned_dep_hour,actual_arrival_hour,actual_dep_hour,arrival_time_delayed_by,dep_time_delayed_by,day_of_week,Latitude,Longitude,Region
0,202407086746668,C46668,2024-07-08,TD,DONC,1970-01-01 14:08:00,1970-01-01 14:10:00,1970-01-01 14:08:00,1970-01-01 14:10:00,NaN,...,14.0,14,NaN,14.0,NaN,44.0,Monday,53.522148,-1.139845,Central
1,202407088094162,P94162,2024-07-08,Trust,CLPHHS,1970-01-01 14:52:30,1970-01-01 14:53:00,1970-01-01 14:53:00,1970-01-01 14:53:00,1970-01-01 14:53:00,...,14.0,14,14.0,14.0,0.0,1.0,Monday,51.465479,-0.132522,Eastern
2,202407088097455,P97455,2024-07-08,Darwin,CRNG,1970-01-01 22:14:00,1970-01-01 22:14:30,1970-01-01 22:14:00,1970-01-01 22:14:00,1970-01-01 22:15:00,...,22.0,22,22.0,22.0,1.0,1.0,Monday,51.208098,0.790331,Eastern
3,202407088090877,P90877,2024-07-08,TD,HOMRTON,1970-01-01 22:12:30,1970-01-01 22:13:00,1970-01-01 22:13:00,1970-01-01 22:13:00,1970-01-01 22:14:00,...,22.0,22,22.0,22.0,1.0,1.0,Monday,51.547010,-0.042360,Eastern
4,202407088094180,P94180,2024-07-08,TD,WAPPING,1970-01-01 16:44:00,1970-01-01 16:44:30,1970-01-01 16:44:00,1970-01-01 16:44:00,NaN,...,16.0,16,NaN,NaN,NaN,NaN,Monday,51.504386,-0.055931,Eastern

In [2]:
dates = train_df['service_start_date'].unique()
dates

array(['2024-07-08', '2024-07-09', '2024-07-10', '2024-07-11',
       '2024-07-12', '2024-07-14', '2024-07-15', '2024-07-16',
       '2024-07-17', '2024-07-13'], dtype=object)

In [12]:
api_key = weather_api_key

# get approx lat and long for each region
regions = {
    'Northern': {'Latitude': 55.0, 'Longitude': -2.0},
    'Southern': {'Latitude': 50.5, 'Longitude': -1.5},
    'Eastern': {'Latitude': 53.0, 'Longitude': 0.0},
    'Western': {'Latitude': 53.0, 'Longitude': -4.0},
    'Central': {'Latitude': 52.0, 'Longitude': -1.5}
}

urls = []
for i in dates:
    date_obj = datetime.strptime(i, '%Y-%m-%d')
    date = int(date_obj.timestamp())
    
    urls.append(f'https://api.openweathermap.org/data/2.5/onecall/timemachine?lat=55.0&lon=-2.0&dt={date}&appid={api_key}')
    urls.append(f'https://api.openweathermap.org/data/2.5/onecall/timemachine?lat=50.5&lon=-1.5&dt={date}&appid={api_key}')
    urls.append(f'https://api.openweathermap.org/data/2.5/onecall/timemachine?lat=53.0&lon=0.0&dt={date}&appid={api_key}')
    urls.append(f'https://api.openweathermap.org/data/2.5/onecall/timemachine?lat=53.0&lon=-4.0&dt={date}&appid={api_key}')
    urls.append(f'https://api.openweathermap.org/data/2.5/onecall/timemachine?lat=52.0&lon=-1.5&dt={date}&appid={api_key}')

# call data for each url and combine
data = []
for url in urls:
    response = requests.get(url)
    data.append(response.json())

d = {
    'id' : [], 
    'name' : [], 
    'dt' : [],
    'longitude' : [], 
    'latitude' : [], 
    'temp' : [], 
    'temp': [],
    'feels_like': [],
    'temp_min': [],
    'temp_max': [],
    'pressure': [],
    'sea_level': [],
    'grnd_level': [],
    'humidity': [],
    'weather' : [],
    'weather_desc': []
    }

for i in data:
    d['id'].append(i['id'])
    d['name'].append(i['name'])
    d['dt'].append(i['dt'])
    d['longitude'].append(i['coord']['lon'])
    d['latitude'].append(i['coord']['lat'])
    d['temp'].append(i['main']['temp'])
    d['feels_like'].append(i['main']['feels_like'])
    d['temp_min'].append(i['main']['temp_min'])
    d['temp_max'].append(i['main']['temp_max'])
    d['pressure'].append(i['main']['pressure'])
    d['sea_level'].append(i['main']['sea_level'])
    d['grnd_level'].append(i['main']['grnd_level'])
    d['humidity'].append(i['main']['humidity'])
    d['weather'].append(i['weather'][0]['main'])
    d['weather_desc'].append(i['weather'][0]['description'])

1720396800
1720483200
1720569600
1720656000
1720742400
1720915200
1721001600
1721088000
1721174400
1720828800

KeyError: 'id'

In [ ]:
df = pd.DataFrame(d)
df.head()

In [10]:
df['dt'].unique()

array([1721155018, 1721155019, 1721155020, 1721155022, 1721154722,
       1721155023, 1721155024, 1721155025, 1721155026, 1721155027,
       1721155028, 1721155029, 1721155033])

In [6]:
def add_weather_id(region):
    coords = regions[region]
    for i, row in df.iterrows():
        if row['longitude'] == coords['Longitude'] and row['latitude'] == coords['Latitude']:
            return row['id']

In [7]:
train_df['region_weather_id'] = train_df['Region'].apply(add_weather_id)
train_df.head()

,route_id,unique_id,service_start_date,update_origin,train_platform,working_time_arrival,working_time_departure,planned_time_arrival,planned_time_departure,actual_arrival_time,...,planned_dep_hour,actual_arrival_hour,actual_dep_hour,arrival_time_delayed_by,dep_time_delayed_by,day_of_week,Latitude,Longitude,Region,region_weather_id
0,202407086746668,C46668,2024-07-08,TD,DONC,1970-01-01 14:08:00,1970-01-01 14:10:00,1970-01-01 14:08:00,1970-01-01 14:10:00,NaN,...,14,NaN,14.0,NaN,44.0,Monday,53.522148,-1.139845,Central,2646648
1,202407088094162,P94162,2024-07-08,Trust,CLPHHS,1970-01-01 14:52:30,1970-01-01 14:53:00,1970-01-01 14:53:00,1970-01-01 14:53:00,1970-01-01 14:53:00,...,14,14.0,14.0,0.0,1.0,Monday,51.465479,-0.132522,Eastern,7290588
2,202407088097455,P97455,2024-07-08,Darwin,CRNG,1970-01-01 22:14:00,1970-01-01 22:14:30,1970-01-01 22:14:00,1970-01-01 22:14:00,1970-01-01 22:15:00,...,22,22.0,22.0,1.0,1.0,Monday,51.208098,0.790331,Eastern,7290588
3,202407088090877,P90877,2024-07-08,TD,HOMRTON,1970-01-01 22:12:30,1970-01-01 22:13:00,1970-01-01 22:13:00,1970-01-01 22:13:00,1970-01-01 22:14:00,...,22,22.0,22.0,1.0,1.0,Monday,51.547010,-0.042360,Eastern,7290588
4,202407088094180,P94180,2024-07-08,TD,WAPPING,1970-01-01 16:44:00,1970-01-01 16:44:30,1970-01-01 16:44:00,1970-01-01 16:44:00,NaN,...,16,NaN,NaN,NaN,NaN,Monday,51.504386,-0.055931,Eastern,7290588

In [8]:
merged_df = train_df.merge(df, left_on='region_weather_id', right_on='id')
merged_df.head()

,route_id,unique_id,service_start_date,update_origin,train_platform,working_time_arrival,working_time_departure,planned_time_arrival,planned_time_departure,actual_arrival_time,...,temp,feels_like,temp_min,temp_max,pressure,sea_level,grnd_level,humidity,weather,weather_desc
0,202407086746668,C46668,2024-07-08,TD,DONC,1970-01-01 14:08:00,1970-01-01 14:10:00,1970-01-01 14:08:00,1970-01-01 14:10:00,NaN,...,291.72,291.51,290.43,292.58,1014,1014,997,72,Clouds,overcast clouds
1,202407086746668,C46668,2024-07-08,TD,DONC,1970-01-01 14:08:00,1970-01-01 14:10:00,1970-01-01 14:08:00,1970-01-01 14:10:00,NaN,...,291.72,291.51,290.43,292.58,1014,1014,997,72,Clouds,overcast clouds
2,202407086746668,C46668,2024-07-08,TD,DONC,1970-01-01 14:08:00,1970-01-01 14:10:00,1970-01-01 14:08:00,1970-01-01 14:10:00,NaN,...,291.72,291.51,290.43,292.58,1014,1014,997,72,Clouds,overcast clouds
3,202407086746668,C46668,2024-07-08,TD,DONC,1970-01-01 14:08:00,1970-01-01 14:10:00,1970-01-01 14:08:00,1970-01-01 14:10:00,NaN,...,291.72,291.51,290.43,292.58,1014,1014,997,72,Clouds,overcast clouds
4,202407086746668,C46668,2024-07-08,TD,DONC,1970-01-01 14:08:00,1970-01-01 14:10:00,1970-01-01 14:08:00,1970-01-01 14:10:00,NaN,...,291.72,291.51,290.43,292.58,1014,1014,997,72,Clouds,overcast clouds

In [9]:
merged_df.to_csv('weather_rail_data.csv', index=False)